h3 {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	color: gray;
	background-color: lightgray;
}

nav {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0
	padding: 0;
}

.stats {
	justify-content: space-between;
	margin: 15px 0 0 0;
}


img{
	display: block;
    width:100%;
    max-width:300px;
    margin: 0 auto;
}


.buttons {
	display: flex;
	justify-content: space-between;
	margin: 15px 0 0 0;
}